<div class="container-fluid">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal" style="margin-bottom: 10px;"><%- button %> </button>
    <h1 style="margin-left: 12px;margin-top: 10px;">Events</h1>
    <div class="card mt-4" style="width: 18rem;margin-left: 12px;">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
