<div class="container-fluid">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal" style="margin-bottom: 10px;"><%- button %> </button>
    <h1>Lesson Plans</h1>
                    <table class="table">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">No</th>
                            <th scope="col">Title</th>
                            <th scope="col">Category</th>
                            <th scope="col">Level</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>
                                    <a href=""><i class="bi bi-info-circle-fill"></i></a>
                                    <a href=""><i class="bi bi-check2-circle"></i></a>
                                    <a href=""><i class="bi bi-pencil-square"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>