<div class="container-fluid">
    <form action="quick-note/add" method="get">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal" 
        style="margin-bottom: 10px;"><%- button %>
        </button>
    </form> 

        <% if(expressFlash.length > 0) { %> 
            <div class="alert alert-info fw-bold w-50" role="alert" style="margin-left: 350px;text-align: center;">
                Note successfully added
            </div>
        <% }  %> 
        <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%- modalTitle %> </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form action="/add-quicknote" method="POST">
                    <div class="form-group">
                      <label for="title">Title</label>
                      <input type="text" class="form-control" id="title" aria-describedby="emailHelp" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Category</label>
                        <select class="form-select" aria-label="Default select example" name="category" required>
                            <option selected>Choose a Category</option>
                            <option value="Docker">Docker</option>
                            <option value="NodeJS">NodeJS</option>
                            <option value="Gitlab">Gitlab</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="title">Level</label>
                        <select class="form-select" aria-label="Default select example" name="level" required>
                            <option selected>Choose a Level</option>
                            <option value="Easy">Easy</option>
                            <option value="Medium">Medium</option>
                            <option value="Hard">Hard</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" rows="3" name="description" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add a Note</button>
                  </form>
            </div>
        </div>
        </div>
    </div>
         <h1>Quick Note</h1>
                    <table class="table">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">No</th>
                            <th scope="col">Title</th>
                            <th scope="col">Category</th>
                            <th scope="col">Level</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                        <tbody>
                            <% let no = 1 %> 
                            <% if(quickNoteFind.length < 1) { %>
                                  
                              <div class="alert alert-danger fw-light mb-2" role="alert" style="width: max-content;margin: auto;">
                                    There's no exist note. Add your Note
                              </div>
                            <% }else{ %> 
                                <% quickNoteFind.forEach(qnt => { %>
                                <tr>
                                    <th scope="row"><%= no++ %> </th>
                                    <td><%= qnt.title %></td>
                                    <td><%= qnt.category %> </td>
                                    <td><%= qnt.level %> </td>
                                    <td>
                                        <a href=""><i class="bi bi-info-circle-fill"></i></a>
                                        <a href=""><i class="bi bi-check2-circle"></i></a>
                                        <a href=""><i class="bi bi-pencil-square"></i></a>
                                    </td>
                                </tr>   
                               <% }); %> 
                            <% } %> 
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>